[submodule "vendor/Twig"]
	path = vendor/Twig
	url = git://github.com/fabpot/Twig.git
[submodule "vendor/Symfony/Component/Finder"]
	path = vendor/Symfony/Component/Finder
	url = git://github.com/symfony/Finder.git
[submodule "vendor/Madalynn/mIRCParserExtension"]
	path = vendor/Madalynn/mIRCParserExtension
	url = git://github.com/aerialls/mIRCParserExtension.git
