[submodule "vendor/irc-parser-extension"]
	path = vendor/irc-parser-extension
	url = https://github.com/aerialls/TwigIRCParserExtension.git
[submodule "vendor/Symfony/Component/Finder"]
	path = vendor/Symfony/Component/Finder
	url = https://github.com/symfony/Finder.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = https://github.com/fabpot/Twig.git
[submodule "vendor/plum"]
	path = vendor/plum
	url = https://github.com/aerialls/Plum.git
[submodule "vendor/plum-service-provider"]
	path = vendor/plum-service-provider
	url = https://github.com/aerialls/SilexPlumServiceProvider.git
