<?php

/*
 * This file is part of the ZeldaLogs website.
 *
 * (c) 2010-2011 Julien Brochet <mewt@madalynn.eu>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

$config = array(
    'zeldalogs.directory'      => __DIR__.'/logs',
    'zeldalogs.security.mails' => array()
);

$app['debug'] = false;

$app->register(new Plum\Silex\Provider\PlumServiceProvider(), array(
    'plum.servers' => array(
        'bender' => array(
            'host'     => 'bender.madalynn.eu',
            'user'     => 'web',
            'dir'      => '/home/web/madalynn.eu/zelda',
            'port'     => 2222,
            'password' => null,
            'options'  => array(
                'rsync_exclude' => __DIR__.'/rsync_exclude.txt'
            )
        )
    )
));