{% extends 'layout.html.twig' %}

{% block title %}Archives du {{ day.getFormattedDate }}{% endblock %}

{% block content %}

    <div id="search_box">
        <form id="search_form" method="post" action="/search">
            <input type="text" id="search" name="search" />
            <input type="hidden" name="where" value="{{ day.getSerializedDate }}" />
            <a id="search_submit" class="medium awesome">Rechercher</a>
        </form>
    </div>

    <h1>Archives du {{ day.getFormattedDate }}</h1>

    {% include '_paginator.html.twig' %}

    {% for line in day.getPage(page) %}
        <div class="line">
            {{- line|mirc_raw_parse -}}
        </div>
    {% else %}
        Rien à afficher pour le moment pour cette journée ...
    {% endfor %}

    {% include '_paginator.html.twig' %}
{% endblock %}