{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1>Archives du {{ day.getFormattedDate }}</h1>

    {% set logs = day.getPage(0) %}

    {% for line in logs %}
        <div class="line">
            {{- line | mirc_raw_parse -}}
        </div>
    {% else %}
        Rien à afficher pour le moment pour cette journée ...
    {% endfor %}
{% endblock %}