{% extends 'layout.html.twig' %}

{% block title %}Archives du {{ day.getFormattedDate }}{% endblock %}

{% block content %}
    <h1>Archives du {{ day.getFormattedDate }}</h1>

    {% include '_paginator.html.twig' %}

    {% set logs = day.getPage(page) %}

    {% for line in logs %}
        <div class="line">
            {{- line | mirc_parse -}}
        </div>
    {% else %}
        Rien à afficher pour le moment pour cette journée ...
    {% endfor %}

    {% include '_paginator.html.twig' %}
{% endblock %}