{% extends 'layout.html.twig' %}

{% block title %}Humm... c'est embêtant tout ça !{% endblock %}

{% block content %}
    <h1>Hum... c'est embêtant tout ça</h1>

    <p>Tu n'as pas le droit d'accéder à cette partie !</p>
{% endblock %}