<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <title>{% block title %}Accueil{% endblock %} - Logs IRC #Zelda</title>

        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css" />
        <link rel="stylesheet" type="text/css" href="/css/design.css" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/zeldalogs.js"></script>
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div id="logo">
                    <a href="/{% block year %}{% endblock %}">
                        <img src="/images/logo.png" />
                    </a>
                </div>
                <div id="text">
                    <p>Logs IRC #Zelda</p>
                    <p id="small">irc.epiknet.org</p>
                </div>
                <div id="logout">
                    <a href="{{ app.url_generator.generate('logout') }}" class="awesome">Déconnexion</a>
                </div>
                {% if app.session.has('username') %}
                    <div id="username">
                        Connecté entant que {{ app.session.get('username') }}
                    </div>
                {% endif %}
            </div>

            <div id="space">
            </div>

            <div id="content">
                {% block content %}{% endblock %}

                <div class="clear">
                </div>
            </div>

            <div id="footer">
                {{ 'now' | date('Y') }} &copy; <a target="_blank" href="http://julien.brochet.me">Julien Brochet</a> - Propulsé par <a href="http://silex-project.org/" target="_blank">Silex</a>
            </div>
        </div>
    </body>
</html>