{% extends 'layout.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block content %}
    <h1>Recherche de "{{ search }}" le {{ day.getFormattedDate }}</h1>

    {% for line in lines %}
        <div class="line">
            {{- line | mirc_raw_parse -}}
        </div>
    {% else %}
        La recherche n'a retourné aucun résultat.
    {% endfor %}
{% endblock %}