@font-face { 
    font-family: Delicious; 
    src: url('/fonts/Delicious-Roman.otf');
} 

@font-face { 
    font-family: Delicious; 
    font-weight: bold; 
    src: url('/fonts/Delicious-Bold.otf'); 
}

html {
    background-image: url('/images/background.png');
    background-position: center top;
    width: 100%;
    height: 100%;
}

body {
    font: Georgia, "Times New Roman", serif;
    font-size: 18px;
    color: #626262;
}

a {
    color: #426b7d;
}

h1 {
    margin: 10px 20px;
    font-size: 27px;
    color: #426b7d;
    font-family: Delicious;
}

strong {
    font-weight: bold;
}

.clear {
    clear: both;
}

#wrap {
    width: 1000px;
    margin: 0 auto;
}

#header {
    position: relative;
    height: 200px;
}

#logo {
    position: absolute;
    right: 20px;
    top: 15px;
}

#text {
    text-align: right;
    color: #426b7d;
    position: absolute;
    top: 60px;
    right: 320px;
    font-size: 33px;
    font-family: Delicious;
    font-weight: bold;
}

#text #small {
    font-size: 25px;
    font-weight: normal;
}

#space {
    height: 5px;
    background-color: #426b7d;
}

#content {
    background-color: #fff;
    min-height: 400px;
    padding: 10px;
}

#footer {
    text-align: center;
    padding: 10px 0 25px 0;
}

#years {
    text-align: center;
}

.calendar {
    width: 300px;
    height: 300px;
    margin: 20px 10px;
    float: left;
}

.calendar .title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.calendar .days a {
    display: block;
    width: 40px;
    height: 30px;
    float: left;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.calendar .days a.active {
    background-color: #426b7d;
    color: #fff;
}

.line {
    margin: 3px 0;
}