@font-face {
    font-family: Delicious;
    src: url('/fonts/Delicious-Roman.otf');
}

@font-face {
    font-family: Delicious;
    font-weight: bold;
    src: url('/fonts/Delicious-Bold.otf');
}

html {
    background-image: url('/images/background.png');
    background-position: center top;
    width: 100%;
    height: 100%;
}

body {
    font: Georgia, "Times New Roman", serif;
    font-size: 18px;
    color: #626262;
}

a {
    color: #426b7d;
}

h1 {
    margin: 10px 20px;
    font-size: 27px;
    color: #426b7d;
    font-family: Delicious;
}

strong {
    font-weight: bold;
}

.clear {
    clear: both;
}

#wrap {
    width: 1100px;
    margin: 0 auto;
}

#header {
    position: relative;
    height: 200px;
}

#logo {
    position: absolute;
    right: 20px;
    top: 15px;
}

#text {
    text-align: right;
    color: #426b7d;
    position: absolute;
    top: 60px;
    right: 320px;
    font-size: 33px;
    font-family: Delicious;
    font-weight: bold;
}

#text #small {
    font-size: 25px;
    font-weight: normal;
}

#space {
    height: 5px;
    background-color: #426b7d;
}

#content {
    background-color: #fff;
    min-height: 400px;
    padding: 10px;
}

#footer {
    text-align: center;
    padding: 10px 0 25px 0;
}

#years {
    text-align: center;
}

.calendar {
    width: 300px;
    height: 230px;
    margin: 20px 10px 20px 40px;
    float: left;
}

.calendar .title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.calendar .days a, .calendar .days span {
    display: block;
    width: 30px;
    height: 25px;
    float: left;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.calendar .days a.active {
    background-color: #426b7d;
    color: #fff;
}

.line {
    margin: 3px 0;
}

.paginator {
    text-align: center;
    padding: 20px 0;
}

.paginator a, .paginator span.current {
    margin: 0 4px 0 0;
    padding: 5px 7px;
    color: #999;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    background-color: #eee;
    text-decoration: none;
}

.paginator span.current, .paginator a:hover {
    color: white;
    background-color: #426b7d;
}

#form_search {
    float: right;
    margin: 10px 10px 0 0;
}

#form_search input[type=text] {
    width: 200px;
    margin-right: 5px;
}

.awesome, .awesome:visited {
    background: #222 url(/images/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: Arial;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    top: -2px;
    cursor: pointer;
}

.awesome:hover {
    background-color: #111; color: #fff;
}

.awesome:active {
    top: -1px;
}

.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}


